.hotel {
	padding: 2.5rem;
	width: 100%;
	box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.4);
	border-radius: 1rem;
	background-color: #fff;
	font-size: 1.3rem;
	transition: transform 0.8s;
}

@media screen and (min-width: 80rem) {
	.hotel:hover {
		transform: scale(1.05);
	}
}

.img {
	width: 100%;
	margin-bottom: 3rem;
	border-radius: 1rem;
	box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.7);
}

.name {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.description {
	font-size: 1.8rem;
	overflow: scroll;
	padding: 1rem 0;
	height: 12rem;
	line-height: 1.6;
}

.btn {
	display: block;
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 1rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 1.6rem;
	cursor: pointer;
	border: none;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
	font-weight: bold;
	transition: all 0.3s ease;
}

.btn:hover:active {
	transform: scale(0.98);
}

.btn:hover {
	color: var(--primary-color);
	background-color: #eee;
	transform: scale(1.08);
}

.startDate,
.endDate {
	background-color: var(--primary-color);
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 1rem;
	text-align: center;
	font-weight: bold;
	margin-bottom: 1rem;
	transition: all 0.3s ease-in-out;
	font-size: 1.5rem;
}

.startDate:hover,
.endDate:hover {
	transform: scale(1.08);
}

.location {
	padding: 1.4rem 1rem;
	font-size: 2rem;
	box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.7);
	margin: 2rem 0;
	background-color: dodgerblue;
	color: var(--primary-white);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}

.rooms,
.price {
	display: flex;
	justify-content: space-between;
	padding: 1.4rem 1rem;
	font-size: 2rem;
	box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.7);
	background-color: dodgerblue;
	color: var(--primary-white);
}
