:root {
	--select-border: #777;
	--select-focus: blue;
	--select-arrow: var(--select-border);
}

.input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0.5rem;
	padding: 0 0.5rem;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.4);
	width: 90%;
	height: 7rem;
	cursor: pointer;
}

.country {
	grid-column: 3 / 4;
}

.input select {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 0.5em;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: 2rem;
	cursor: pointer;
	line-height: inherit;
}

.input select:active {
	outline: none;
}

.countrySelect {
	width: 100%;
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.countrySelect:active,
.countrySelect:focus {
	outline: none;
}

.countrySelect:active ~ option:first-child {
	display: none;
}

.countryOption * {
	background-color: #eee;
	cursor: pointer;
	padding: 2rem;
}

.countryOption:hover {
	cursor: pointer;
}

.size {
}

.price {
}

.clear {
	background-color: #ff1744;
	color: #fff;
	font-size: 2rem;
	border: none;
	transition: all 0.3s;
	width: 100%;
	padding: 0 3rem;
}

.clear:active {
	transform: translateY(0.5rem);
}

.clear:hover {
	background-color: #fff;
	color: #ff1744;
	font-weight: bold;
}
