.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
	width: 100%;
    color: #fff;
    height: 45vh;
    position: relative;
    padding: 10rem 10%;

}

.title{
    font-size: 7rem;
    margin-bottom: 1rem;
}

.info{
    font-size: 2rem;
}

.video{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .75;
    overflow: hidden;
}

.video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}