.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
	width: 100%;
    color: #fff;
    height: 50vh;
    position: relative;
    padding: 10rem 10%;
	justify-content: center;
	align-items: center;

}

header > *{
	text-align: center;
}

.title{
	display: block;
    font-size: 7rem;
    margin-bottom: 1rem;
	letter-spacing: 2rem;
	text-transform: uppercase;
	text-shadow: 5px 5px 1rem rgba(0,0,0,0.7);
	animation: moveDown 1s;
}

.info{
	margin: .5rem 0;
    font-size: 2rem;
	transition: all .3s ease-in-out;
}

.info:hover{
	font-size: 3rem;
}

.infoLeft{
	animation: moveLeft 1s ease-in-out;
}

.infoRight{
	animation: moveRight 1s ease-in-out;
}

.video{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
    overflow: hidden;
}

.video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@keyframes moveDown {
	from{
		transform: translateY(-10rem);
	}
	to{
		transform: translateY(0);
	}
}

@keyframes moveRight {
	from{
		transform: translateX(-100rem);
	}
	to{
		transform: translateX(0);
	}
}

@keyframes moveLeft {
	from{
		transform: translateX(100rem);
	}
	to{
		transform: translateX(0);
	}
}
