.navbar {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	justify-items: center;
	width: minmax(3rem, min-content);
	max-height: min-content;
	background-color: var(--primary-color);
	padding: 0 1rem;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-bottom: 1.5rem;
	z-index: 1000;
	box-shadow: 1px 1px 1rem var(--light-shadow);
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
